# Flutter / Dart
.dart_tool/
.packages
build/
*.iml
# Android
android/.gradle/
android/local.properties
android/**/gradle-wrapper.jar
*.jks
*.keystore

# iOS
ios/Flutter/ephemeral/
ios/Pods/
ios/**/DerivedData/
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
*.log
Thumbs.db
